<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
        <link rel="stylesheet" href="/static/styles.css">

</head>
<body>

    <div class="login-form">
        <form method="POST" action="/login">
          <label for="username">Ім'я користувача:</label>
          <input type="text" id="username" name="username"><br>

          <label for="password">Пароль:</label>
          <input type="password" id="password" name="password"><br>

          <input type="submit" value="Увійти">
        </form>
    </div>

</body>
</html>