<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User by ID</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="header">
    <h1>Hello, {{username}}</h1>
    <a href="/logout" class="logout-btn">Logout</a>
</div>

<div>
    <h1>User</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.age }}</td>
        </tr>
    </table>
</div>

</body>
</html>